# This is Git's per-user configuration file.
[user]
  name = Yuka Tsuboi
  email = yuka.tsuboi@trustdock.io
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[fetch]
  prune = true
[pull]
  rebase = preserve
[core]
  autocrlf = input
